@charset "shift_jis";
/* CSS Document */


/*ヘッダーメニューstyle変更*/
#menu_tit li,
#menu_tit li a {
	padding:0;
	text-indent:0px;
	width:120px;
	height:40px;
	border-radius:2em;
	background-color:#EEEEEE;
	color:#003598;
	text-align:center;
	display:table-cell;
	vertical-align:middle;
}
#menu_tit li {margin-right:10px;}
#menu_tit li a:hover,
#menu_tit li.select a {background-color:#00B2B2; color:#FFF; }



/*
==================================================

　　　　　　得点率情報

==================================================
*/

/*
----------------------
　ファイル登録style
----------------------
*/

#msg_l {width:220px;}
/*掲載開始日*/
#tokuten .fm_date {text-align:center;}

/*日付＆レース名*/
#tokuten #msg_r #race_name {
	font-size:16px;
	padding:6px 4px 10px;
	font-weight:bold;
	margin-bottom:10px;
	}
#tokuten #msg_r #race_name span {
	display:inline-block;
	margin-left:10px;
	margin-right:14px;
	padding:4px 0;
	}
	
/*ファイルアップロードset*/
#tokuten #msg_r dl#file_set {
	padding-top:10px;}
/*アップロードボタン*/
#tokuten #msg_r dl#file_set dt {
	width:190px;
	height:60px;
	float:left;
	}
/*ファイルパス*/
#tokuten #msg_r dl#file_set dd {
	width:500px;
	height:60px;
	margin-left:10px;
	float:left;
	}
	#tokuten #msg_r dl#file_set dd span{
		width:500px;
		height:60px;
		display: table-cell;
		vertical-align:middle;
		word-break:break-all;
		}

#tokuten #msg_r label {
	width:auto;
	background-image:none;
	font-size:18px;
	padding-top:10px;
}

/*インフォメーション*/
#tokuten #msg_l span.info {
	font-size:12px;
	font-weight: normal;
	display:inline-block;
	vertical-align:top;
}













