/* ■■■■■CSS リセット■■■■■ */

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td, iframe, object, embed {
    margin: 0; 
    padding: 0;
}
html {
	height: 100%;
	width: 100%;
}
body {
	height: 100%;
	width: 100%;
	-webkit-text-size-adjust: none;
}
h1, h2, h3, h4, h5, h6{
    font-size: 100%; 
    font-weight: normal;
}
ol, ul{
    list-style:none;
}
fieldset, img{
     border:0;
}
table{
    border-collapse: collapse;
	border-spacing:0; 

}
caption, th{
    text-align: left;
}
address, caption, cite, code, dfn, em, strong, th, var{
    font-style: normal; 
    font-weight: normal;
}
img {
	vertical-align: middle;
}
a:focus {
	outline:none;
}
.clear {
	clear: both;
}
a { text-decoration: none;}