

/*
==========================================

			02suimen.htm

==========================================
*/
#main {padding-top:50px;}


/*
---------------------------------

　　★共通

---------------------------------
*/

#suimen,
#sinnyu {
	width:1080px;
	margin:0 auto;
	margin-bottom:50px;} 

h3 {
	font-size:22px;
	font-weight:bold;
	background-image:url(/02suimen/images/ttl_bg.png);
	background-position:left bottom;
	background-repeat: repeat-x;
	padding-bottom:20px;
	padding-left:10px;
}
	h3 span {
		background-image:url(/02suimen/images/ttl_icon.png);
		background-position:0 6px;
		background-repeat:no-repeat;
		padding-left:24px;
	}
/*
---------------------------------

　　水面特性

---------------------------------
*/
#suimen{}

#suimen dl { padding:0 40px;}
#suimen dl dt {
	background-color:#05B3B3;
	color:#FFFFFF;
	font-size:20px;
	font-weight:bold;
	padding:17px 0 14px;
	margin-top:30px;
	text-indent:1em;
	}
	#suimen dl dt span {font-size:0.8em;}
	
	#suimen dl dt span.right { display:inline-block; float:right; font-weight: normal;}
	
#suimen dl dd {
	line-height:1.6em;
	padding-left:20px;
	padding-top:10px;
}
	#suimen dl dd p { color:#003399; font-weight:bold;}


	/*水面データ*/
	#suimen dl dt.d1 {width:470px;}
	#suimen_img {float:right; margin-left:50px; padding:80px 40px 0 0;}
	
	/*攻略*/
	#suimen dl dd.d2_1,
	#suimen dl dd.d2_2{width:450px;}
	
	#suimen dl dd.d2_1 {float:left;}
	#suimen dl dd.d2_2 {float:right; padding-right:20px;}
	
	/*必勝パターン8ヶ条*/
	#suimen dl dd.d3_1,#suimen dl dd.d3_3,#suimen dl dd.d3_5,#suimen dl dd.d3_7 {
		width:450px;
		float:left;
	}
	#suimen dl dd.d3_2,#suimen dl dd.d3_4,#suimen dl dd.d3_6 {
		width:450px;
		float:right;
		padding-right:20px;
	}
		#suimen dl dd.d3_1 dl dd,
		#suimen dl dd.d3_3 dl dd,
		#suimen dl dd.d3_4 dl dd,
		#suimen dl dd.d3_5 dl dd,
		#suimen dl dd.d3_6 dl dd,
		#suimen dl dd.d3_7 dl dd {text-indent:-1em;}
	
	#suimen dl dd.d3_1,#suimen dl dd.d3_2 {height:210px;}
	#suimen dl dd.d3_3,#suimen dl dd.d3_4 {height:180px;}
	#suimen dl dd.d3_5,#suimen dl dd.d3_6 {height:190px;}
	
		/*中見出し*/
		#suimen dl dd.d3 dl {
			width:450px;
			height:30px;
			margin-bottom:10px;
			margin-top:10px;
			text-align:center;
			display:table;
			padding:0;
			background-image:url(/02suimen/images/suimen_dd_bg.png);
			background-position:0 0;
			background-repeat:no-repeat;
			color:#FFFFFF;
		}
			#suimen dl dd.d3 dl dt{
				font-size:16px;
				background: none;
				display:inline-block;
				text-indent:0;
				display: table-cell;
				vertical-align:middle;
				margin:0;
				padding:0;
				float:none;
				}
				#suimen dl dd.d3 dl dt span {font-size:18px;}
			#suimen dl dd.d3 dl dd {
				width:360px;
				padding:1px 0 0 0;
				margin-left:20px;
				display: table-cell;
				vertical-align:middle;
				color:#003399;
				font-size:20px;
				font-weight:normal;
				margin:0;
				float:none;
			}
			#suimen dl dd.d3 dl dd span { display:inline;font-size:16px; margin-left:0;}




/*
---------------------------------

　　進入コース別入着率

---------------------------------
*/
#sinnyu{ padding-top:20px;}

#spring,#summer,#autumn,#winter{ width:240px; float:left; margin-top:20px;}

#spring{margin-right:30px; margin-left:15px;}
#summer,#autumn {margin-right:30px;}


/*見出し*/
#sinnyu dl{
	padding:10px 0 0 65px;
	background-position:left center;
	background-repeat:no-repeat;
	}
	/*日付漢字*/
	#spring dl{ background-image:url(/02suimen/images/sinnyu_spring.png);}
	#summer dl{ background-image:url(/02suimen/images/sinnyu_summer.png);}
	#autumn dl{ background-image:url(/02suimen/images/sinnyu_autumn.png);}
	#winter dl{ background-image:url(/02suimen/images/sinnyu_winter.png);}
	
	/*季節英語*/
	#sinnyu dt {
		text-align:center;
		font-size:24px;
		}
		#spring dt {color:#FFC6C6;}
		#summer dt {color:#C0DFFF;}
		#autumn dt {color:#EBDFB9;}
		#winter dt {color:#DDD2FF;}
	
	/*日付*/
	#sinnyu dd {
		text-align:center;
		color:#666666;
		padding:10px 0 6px;
		}
		

/*テーブル*/
#sinnyu table {
	width:100%;
}
#sinnyu table th {
	padding:10px 0;
	text-align:center;
	color:#FFFFFF;
	font-weight:bold;
}
	#sinnyu table th.th1 {background:url(/02suimen/images/sinyu_th_bg.png) left top no-repeat;}
	#sinnyu table th.th2 {border-bottom:1px solid #999999; width:65px; font-size:14px;}
	
#sinnyu table td {
	text-align:center;
	background-color:#EEEEEE;
	border-bottom:1px solid #999999;
}
	/*-----各色-----*/
	/*春*/
	#spring table th {background-color:#FF4242;}
	#spring table th.th1 {background-color:#EE3D3D;}
	#spring table th.th2 {background-color:#F88787;}
	/*夏*/
	#summer table th {background-color:#2D95FF;}
	#summer table th.th1 {background-color:#2A8BEE;}
	#summer table th.th2 {background-color:#7AB9F8;}
	/*秋*/
	#autumn table th {background-color:#BD9417;}
	#autumn table th.th1 {background-color:#B08A15;}
	#autumn table th.th2 {background-color:#D1B86D;}
	/*冬*/
	#winter table th {background-color:#8F69FF;}
	#winter table th.th1 {background-color:#8562EE;}
	#winter table th.th2 {background-color:#B59EF8;}
	
	
	
	
	
	
	
		
/*
==========================================

		印刷用

==========================================
*/
@media print {
}