@charset "shift_jis";
/* CSS Document */

/*
======================================
iframe-auto.jsと
reset.cssの中のものとぶつかるので、削除している
======================================*/

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3 ,p {
    margin: 0; 
    padding: 0;
}

html {
	height: 100%;
	width: 100%;
}

h1, h2, h3, h4, h5, h6{
    font-size: 100%; 
    font-weight: normal;
}
ol, ul{
    list-style:none;
}
fieldset, img{
     border:0;
}
table{
    border-collapse: collapse; 
    border-spacing:0;
}

img {
	vertical-align: middle;
}
a:focus {
	outline:none;
}
.clear {
	clear: both;
}

/*====================================*/



body{
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic",Arial, Helvetica, sans-serif;
	min-width: 820px !important;
}



