

/*
==========================================

			data_ifrm

==========================================
*/
#main {padding-top:50px;}


/*
---------------------------------

Å@Å@Åöã§í 

---------------------------------
*/
#data_ifrm {
	width:965px;
	margin:0 auto;
}

#data_ifrm iframe {
	width:100%;
}


==========================================

		àÛç¸óp

==========================================
*/
@media print {
}