

/*
==========================================

			06meikan.htm

==========================================
*/
h2 {margin:0;}
#main {
	width:100%;
	padding:0;
	}

#filtering-nav,
#contentInner {}


/*----------------------
		ボタン
----------------------*/
#filter_nav_area {
	background-color:#B9DCFF;
}

	
/*リード*/
#filter_nav_area p#lead {padding:20px 0 0 20px; height:50px; width:700px;}


/*ボタン*/
#filtering-nav {
	padding-bottom:80px;
	background-image:url(/sp/06meikan/images/filtering_nav_bg.png);
	background-position:center bottom;
	background-repeat:no-repeat;}

	#filtering-nav ul {}
	#filtering-nav ul li {
		text-align:center;
		float:left;
		position:relative;
		font-weight:bold;
		}
		/*人数*/
		#filtering-nav ul li span {
			position:absolute;
			height:20px;
			font-size:22px;
			line-height:1.2em;
			padding-left:22px;
			color:#FFFFFF;
			top:62px;
			left:50%;
			margin-left:-35px;
			display:block;
			background-image:url(/sp/06meikan/images/people.png);
			background-position:0 0;
			background-repeat:no-repeat;
			filter:alpha(opacity=70);
			-moz-opacity: 0.7;
			opacity: 0.7;
		}
		
	/*級別、登番見出し*/
	#filtering-nav h4 {
		width:98px;
		height:96px;
		border-radius:5px 0 0 5px;	
		
		text-align:center;
		float:left;
		border-left:2px solid;
		border-top:2px solid;
		border-bottom:2px solid;
		} 
	#filter2 h4 {line-height:100px; border-color:#08B4B4;color:#08B4B4;}
	#filter3 h4 {padding-top:20px; height:76px; border-color:#0C6DFC;color:#0C6DFC;}
		
	/*********級別*********/
	#filter2 {width:680px;margin:0 auto;}
	#filter2 ul { width:580px; float:left;}
	#filter2 li {
		width:142px;
		height:100px;
		line-height:70px;
		font-size:50px;
		color:#FFFFFF;
		background-color:#08B4B4;
	}
	#filter2 li.A1,#filter2 li.A2,#filter2 li.B1 {border-right:2px solid #B9DCFF;}
	#filter2 li.B2 { border-radius:0 5px 5px 0;}
	
	/*********登番*********/
	#filter3 {width:680px;margin:10px auto;}
	#filter3 ul { width:580px; float:left;}
	#filter3 li {
		height:100px;
		line-height:72px;
		color:#FFFFFF;
		background-color:#0C6DFC;
		border-right:2px solid #B9DCFF;
		
		/*▼ボタン3つの時に適用▼*/
		width:190px;
		font-size:32px;
		
		/*▼ボタン4つの時に適用▼
		width:142px;
		font-size:24px;*/
	}
	
	#filter3 li:last-child {border-right:none;border-radius:0 5px 5px 0;}
	

	/*********ALL*********/
	#filter1 {width:680px;margin:0 auto;}
	#filter1 li.all {
		width:330px;
		height:100px;
		line-height:72px;
		color:#FFFFFF;
		background-color:#555555;
		border-radius:5px;
		margin-right:10px;
		font-size:36px;}
		
	/*********女子*********/	
	#filter1 li.lady {
		width:330px;
		height:100px;
		line-height:76px;
		color:#FFFFFF;
		background-color:#F05555;
		border-radius:5px;
		font-size:32px;}
		
			#filter4 li.lady span {top:20px;}
	
/*選択時*/
#filtering-nav li#active {
	background-color:#FFFFFF;
	color:#000000;}
#filtering-nav li#active span {
	filter:alpha(opacity=100);
	-moz-opacity: 1;
	opacity: 1;}



	/*級別*/
	#filter2 li#active{}
	#filter2 li#active span {color:#08B4B4; background-position:0 -40px;}

	/*登番*/
	#filter3 li#active{}
	#filter3 li#active span {color:#0C6DFC; background-position:0 -60px;}
	
	/*ALL*/
	#filter1 li.all#active{}
	#filter1 li.all#active span{color:#555555; background-position:0 -80px;}
	
	/*女子*/
	#filter1 li.lady#activer{}
	#filter1 li.lady#active span {color:#F05555; background-position:0 -100px;}










/*----------------------
	レーサーリスト
----------------------*/

.wrap {
	padding: 20px 0 50px 0;
	clear: both;
	margin: 0 0 0 20px;
	overflow: hidden;
}

.box{
	width: 200px;
	margin:5px 0;
	border:10px solid;
	overflow:hidden;
	position:relative;
}
.box a {text-decoration:none;}
.box.A1{height: 220px;border-color: #F87676;}
.box.A2{height: 170px;border-color: #FFA74F;}
.box.B1{height: 110px;border-color: #B59EF8;}
.box.B2{height: 110px;border-color: #7AB9F8;}
	
	/*選手画像*/
	.box img.photo {position:absolute; z-index:1;}
	.box.A1 img.photo { width:220px; height:252px; left:-10px; top:-30px;}
	.box.A2 img.photo { width:185px; height:212px; left:-10px; top:-20px;}
	.box.B1 img.photo { width:146px; height:168px; left:-10px; top:-30px;}
	.box.B2 img.photo { width:146px; height:168px; left:-10px; top:-30px;}
	
	/*名前まわり*/
	.box dl.name {
		position:absolute;
		right:-2px;
		bottom:-2px;
		padding-right:2px;
		padding-bottom:2px;
		z-index:100;
		text-align:right;
		background-position:right bottom;
		background-repeat:no-repeat;}
	
	.box.A1 dl.name,.box.A2 dl.name {width:135px;}
	.box.A1 dl.name {background-image:url(/sp/06meikan/images/box_name_bg_a1.png);height:135px;}	
	.box.A2 dl.name {background-image:url(/sp/06meikan/images/box_name_bg_a2.png);height:180px;}
	
	.box.B1 dl.name,.box.B2 dl.name	{width:110px; height:110px;}
	.box.B1 dl.name {background-image:url(/sp/06meikan/images/box_name_bg_B1.png);}	
	.box.B2 dl.name {background-image:url(/sp/06meikan/images/box_name_bg_B2.png);}	
	
		/*級*/
		.box dl.name dt {color:#FFFFFF;line-height:1em;text-shadow: 2px 2px 1px rgba(0,0,0,0.2);}
		.box.A1 dl.name dt {font-size:40px;padding-top:45px;padding-left:75px;}
		.box.A2 dl.name dt {font-size:40px;padding-top:90px;padding-left:75px;}
		.box.B1 dl.name dt,.box.B2 dl.name dt {
			font-size:30px;
			padding-top:40px;
			padding-left:50px;
			}
			
			/*登番*/
			.box dl.name dt span {
				width:60px;
				height:18px;
				line-height:18px;
				text-align:center;
				background-color:#FFFFFF;
				border-radius:2em;
				font-weight:bold;
				display:block;
				margin:0 auto;
				font-size:16px;
				text-shadow: none;
			}
			.box.A1 dl.name dt span {color:#F87676;}
			.box.A2 dl.name dt span {color:#FFA74F;}
			.box.B1 dl.name dt span {color:#B59EF8;}
			.box.B2 dl.name dt span {color:#7AB9F8;}
		
		/*名前*/
		.box dl.name dd {font-weight:bold;color:#000000;}
		.box.A1 dl.name dd,.box.A2 dl.name dd {font-size:22px;padding-top:10px;}
		.box.B1 dl.name dd,.box.B2 dl.name dd {font-size:18px;padding-top:5px;}
		

	


/**** Clearfixes ****/

.wrap:after,
#filtering-nav:after { 
  content: ''; 
  display: block; 
  height: 0; 
  clear: both; 
  visibility: hidden;
}





/*----------------------
	データページ
----------------------*/
/*バックボタン*/
a.data_back {
	width:100%;
	height:90px;
	line-height:90px;
	text-decoration:none;
	display:block;
	background-color:#333333;
	color:#FFFFFF;
	font-size:40px;
	text-align:center;
	background-image:url(/sp/06meikan/images/data_back_bg.png);
	position:fixed;
	z-index:1000;
}
	a.data_back span {
		background-image:url(/sp/06meikan/images/data_back_icon.png);
		background-position:0 center;
		background-repeat:no-repeat;
		padding-left:35px;
	}


/**/
#racer_data { padding-bottom:50px; padding-top:90px;}

#racer_data .data_box {
	width:720px;
	font-size:30px;
}


	/*-----パーソナルデータ-----*/
	.data_box .personal {
		 background-color:#08B4B4;
		 padding:30px;
	 }
	 	/*選手写真*/
		.personal img.racer_img {
			float:right;
		}
	 	/*級別*/
		.personal ul.rank {
			width:300px;
			margin-left:360px;
			border-bottom:10px solid;
			}
			.personal ul.rank.A1 { border-color:#F87676;}
			.personal ul.rank.A2 { border-color:#FFA74F;}
			.personal ul.rank.B1 { border-color:#B59EF8;}
			.personal ul.rank.B2 { border-color:#7AB9F8;}
			.personal ul.rank.A1 li.now {background-color:#F87676;}
			.personal ul.rank.A2 li.now {background-color:#FFA74F;}
			.personal ul.rank.B1 li.now {background-color:#B59EF8;}
			.personal ul.rank.B2 li.now {background-color:#7AB9F8;}
							
			.personal ul.rank li {float:left;}
			.personal ul.rank li span {display:block;}
			
			/*現在*/
			.personal ul.rank li.now {
				width:110px;
				height:65px;
				padding-top:5px;
				border-radius:5px 5px 0 0;
				text-align:center;
				font-size:36px;
				font-weight:bold;
				line-height:0.9em;
			}
				.personal ul.rank li.now span {font-size:22px; color:#FFFFFF;}
				
			/*過去*/
			.personal ul.rank li.past {
				padding-left:20px;
				background-image:url(/sp/06meikan/images/racer_data_rank_arrow.png);
				background-position:4px 25px;
				background-repeat:no-repeat;
			}
				.personal ul.rank li.past p {
					width:75px;
					height:65px;
					padding-top:5px;
					text-align:center;
					font-size:28px;
					color:#FFFFFF;
					font-weight:bold;
					line-height:0.8em;
					border-radius:5px 5px 0 0;
					background-color:#53CBCB;
				}
				.personal ul.rank li.past span {
					font-size:18px;
					font-weight:normal;
					color:#444444;
					line-height:1em;
					margin-top:4px;}
			
	 	/*名前*/
		.personal dl.name {
			width:320px;
			margin:-80px 0 20px;
			float:left;
			}
			.personal dl.name dt {
				background-color:#000000;
				color:#08B4B4;
				text-align:center;
				width:80px;
				height:30px;
				border-radius:2em;
				line-height:30px;
				font-size:24px;
				margin:0 auto;
			}
			.personal dl.name dd {
				border-top:3px solid #000000;
				border-bottom:3px solid #000000;
				text-align:center;
				font-size:46px;
				font-weight:bold;
				color:#FFFFFF;
				line-height:0.9em;
				padding:24px 0 6px;
				margin-top:-15px;
			}
				.personal dl.name dd span {
					display:block;
					font-size:22px;
					font-weight:normal;
				}
		
		/*プロフィール*/
		.personal dl.profile{
			font-size:24px;
			}
		.personal dl.profile dt {
			width:120px;
			background-color:#63D0D0;
			text-align:center;
			float:left;
			clear:left;
			padding:6px 0;
			margin-bottom:8px;
			
		}
		.personal dl.profile dd {
			margin-bottom:8px;
			padding:6px 0 6px 130px;
			color:#FFFFFF;
			font-weight:bold;
			line-height:1.2em;
		}
		

	/*-----成績1.2共通-----*/
	.data_box h2 {
		background:none;
		margin:40px 0 10px 0;
		padding:0 0 0 30px;
		width:630px;
		font-weight:bold;
		text-align:left;
		background-image:url(/sp/06meikan/images/racer_data_box1_h2.png);
		background-position:0px center;
		background-repeat:no-repeat;
		color:#003399;
	}	
	
	
	/*-----成績1-----*/
	.data_box .box1 { padding:0 30px;}

		/*2015年後期成績*/
		.box1 ul.result {
			background-color:#EEEEEE;
			padding:20px 30px 10px 10px;
		}
			.box1 ul.result li {
				width:180px;
				float:left;
				text-align:right;
				border-bottom:1px dotted #003399;
				margin-left:20px;
				padding-top:8px;
				margin-bottom:20px;
				padding-right:5px;
				padding-bottom:2px;
				font-size:28px;
			}
				.box1 ul.result li span {
					color:#003399;
					font-weight:bold;
					display:block;
					float:left;
					padding-left:16px;
					background-image:url(/sp/06meikan/images/racer_data_box1_re.png);
					background-position:0 center;
					background-repeat:no-repeat;
				}
				.box1 ul.result li span.small {font-size:24px;}
				
		/*通算優勝回数*/
		.box1 p.att {font-size:26px; padding:0 0 10px 30px; margin-top:-5px;}
		.box1 table.grade_win{
			width:100%;
			table-layout:fixed;
			text-align:center;
			}
		.box1 table.grade_win th {
			text-align:center;
			background-color:#003399;
			border-bottom:10px solid;
			border-left:1px solid #CCCCCC;
			border-right:1px solid #CCCCCC;
			padding:10px 0;
			font-weight:bold;
		}
			.box1 table.grade_win th.SG {color:#FF4242; border-bottom-color:#FF4242;}
			.box1 table.grade_win th.G1 {color:#FF860D; border-bottom-color:#FF860D;}
			.box1 table.grade_win th.G2 {color:#8F69FF; border-bottom-color:#8F69FF;}
			.box1 table.grade_win th.G3 {color:#00C694; border-bottom-color:#00C694;}
			.box1 table.grade_win th.G0 {color:#2D95FF; border-bottom-color:#2D95FF;}
			
		.box1 table.grade_win td {
			background-color:#EEEEEE;
			border:1px solid #CCCCCC;
			padding:10px 0;
		}
		
		/*SG&G1獲得タイトル*/
		.box1 h3 {
			background-color:#003399;
			color:#FFFFFF;
			text-align:center;
			padding:12px 0;
		}
			.box1 .grade_title {
				background-color:#EEEEEE;
			}

			/*テーブル*/
			.box1 .grade_title table {width:100%;}
			.box1 .grade_title td {
				border-bottom:1px solid #666666;
				padding:8px 0;
				background-color:#EEEEEE;
				vertical-align:middle;
				}
				/*日付*/
				.box1 .grade_title td.date {
					color:#000000;
					padding-left:45px;
					width:85px;
					background-position:10px center;
					background-repeat:no-repeat;
				}
				.box1 .grade_title td.SG {background-image:url(/sp/06meikan/images/grade_title_sg.png);}
				.box1 .grade_title td.G1 {background-image:url(/sp/06meikan/images/grade_title_g1.png);}
				/*場*/
				.box1 .grade_title td.jyo {
					text-align:center;
					width:110px;
					border-left:1px dotted #666666;
					border-right:1px dotted #666666; }
				/*レース名*/
				.box1 .grade_title td.race { font-weight:bold; padding-left:10px;}
							
	
	/*-----成績2-----*/
	.data_box .box2 {padding:0 30px;}

		/*直近3節成績*/
		/*見出し*/
		.data_box .box2 .assen_ttl {position:relative;}
		.data_box .box2 .assen_ttl span {
			color:#000000;
			font-size:26px;
			font-weight:normal;
			text-align:right;
			display:inline-block;
			position:absolute;
			right:0;
			border:0;
		}
		.data_box .box2 .assen_ttl img {vertical-align:-0.1em;}
			
		/*テーブル*/	
		.data_box .box2 table.result {width:100%;}
		.data_box .box2 table.result td {
			border-bottom:3px solid #FFFFFF;
			vertical-align:middle;
			font-size:26px;}
			/*日付*/
			.data_box .box2 table.result th {
				width:225px;
				background-color:#003399;
				color:#FFFFFF;
				text-align:center;
				font-size:26px;
				padding:10px 0;
				vertical-align:middle;
				border-bottom:3px solid #FFFFFF;
			}
			/*グレード*/
			.data_box .box2 table.result td.grade {
				width:70px;
				background-color:#CCCCCC;
				text-align:center;}
			/*場*/
			.data_box .box2 table.result td.jyo {
				width:90px;
				background-color:#DDDDDD;
				text-align:center;}
			/*成績*/
			.data_box .box2 table.result td.data {
				background-color:#EEEEEE;
				padding-left:10px;
				font-size:32px;
			}
				.data_box .box2 table.result td.data span{ font-size:24px;}
				.data_box .box2 table.result td.data.day8{ font-size:26px;}
			
		/*あっせん情報*/
		.data_box .box2 .assen {}
		.data_box .box2 .assen table {width:100%;border-top:1px dotted #666666;}
		.data_box .box2 .assen table td {
			font-size:26px;
			border-bottom:1px dotted #666666;
			padding:5px 0;
			vertical-align:middle;
			}
			/*日付*/
			.data_box .box2 .assen table th {
				width:150px;
				background-color:#003399;
				color:#FFFFFF;
				text-align:center;
				border-bottom:1px dotted #FFFFFF;
				vertical-align:middle;
				font-size:26px;
			}
			/*場*/
			.data_box .box2 .assen table td.jyo {
				width:90px;
				background-color:#CCCCCC;
				text-align:center;}
			/*グレード*/
			.assen .grade {
				background-color:#EEEEEE;
				text-align:center;
				width:20px;
				font-weight:bold;}
			.assen .SG {color:#FF4242;}
			.assen .G1 {color:#FF860D;}
			.assen .G2 {color:#8F69FF;}
			.assen .G3 {color:#00C694;}
			.assen .G0 {color:#2D95FF;}
			
			/*レース名*/
			.data_box .box2 .assen table td.race {
				line-height:1.2em;
				padding-left:8px;
				background-color:#FFFFFF;
			}
			/*津用*/
			.data_box .box2 .assen table tr.tsu td.jyo {
				background-image:url(/sp/06meikan/images/assen_tsu_jyo.png);
				color:#FFFFFF;} 
			.data_box .box2 .assen table tr.tsu td.race,
			.data_box .box2 .assen table tr.tsu td.grade {
				background-image:url(/sp/06meikan/images/assen_tsu_race.png);}




/*----------------------
		nodata
----------------------*/


.box2 .assen .nodata {
	color:#999999;
	text-align:center;
	line-height:1.4em;
	background-color:#EEEEEE;
	background-image:url(/sp/06meikan/images/nodata.png);
	background-position:90%;
	background-repeat:no-repeat;
}


.box2 .assen .nodata p {
	width:640px;
	padding:70px 0;
}


/*up*/
#page_up {
	position: fixed;
	z-index:10000;
}

	
	
/*
==========================================

		印刷用

==========================================
*/
@media print {
	#racer_data {padding-top:0px;}
	#racer_data .data_box { page-break-after:always;}
	.box1 .grade_title,
	.data_box .box2 .assen { overflow:visible;}
	a.data_back {position:relative;}
}